.container {
    .box {
        padding: 10px;
        background-color: #fff;
        .img {
            border-radius: 10px;
        }
        .title {
            color: #000;
            .name {
                font-weight: bold;
                margin: 8px 0;
                font-size: 16px;
            }
            .desc {
                font-size: 14px;
            }
        }
    }
    .box2 {
        height: 30px;
        line-height: 30px;
        background-color: #fff;
        font-size: 14px;
        color: #8f8f8f;
        padding-left: 10px;
    }
}
