.container {
    padding: 10px;
    background-color: #fff;
    .desc {
        font-size: 14px;
        line-height: 18px;
        color: var(--common-desc-color);
        padding: 10px 0;
    }
    .box {
        padding: 5px 0 10px;
        .title {
            font-size: 14px;
            font-weight: bold;
            margin: 10px 0;
            color: var(--adm-color-primary);
        }
    }
}