/* ant-mobile 主题定值 */
:root:root {
    --adm-color-primary:#01979a;
}
:root {
    --common-background-color: #F8F9FB;
    --common-warning-color: #ff6a00;
    --common-gray-color: #828282;
    --common-desc-color:#333;
}
